@font-face {
    font-family: "Genshin";
    src: url("../genshin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Genshin";
    src: url("../genshin.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
