/* ==================================================
 * FONTS 
 * ================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@genshin-font {
    font-family: "Genshin";
    src: url("../genshin.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ==================================================
 * BASE 
 * ================================================== */

html, body {
  font-family: @genshin-font;
  color: #05080F;
  background-color: #EFF3FD;
  margin: 0;
}

h1, h2 {
    font: 1.4rem "DM Sans", sans-serif;
}

/* ==================================================
 * HEADER 
 * ================================================== */

#banner-container {
  width: 100%;
  display: table;
  top: 0;
}

#banner {
  background-color: #182441;
  height: 100px;
  padding: 25px 100px;
  text-align: left;
  overflow: hidden;
  display: table-cell;
}

.logo {
  font: bold 3rem "DM Sans", sans-serif;
  color: #ffffff;
  white-space: normal;
  word-break: break-all;
  vertical-align: middle;
}

/* ==================================================
 * OTHER 
 * ================================================== */

#wrapper {
  margin-top: 100px;
}
