/* ======================================================
 * Fonts
 * ====================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ======================================================
 * Styles
 * ====================================================== */
  
html, body {
  background-color: #182441;
  font-family: "DM Sans", "PT Sans", sans-serif;
  color: #EFF3FD;
}

/* Typography
 * ====================================================== */

h1 {
  font-family: "Roboto Mono";
  color: #EFF3FD;
  margin-left: 15px;
}

h2 {
  font-family: "Roboto Mono";
  color: #EFF3FD;
  text-decoration: underline;
  margin-left: 25px;
  text-underline-offset: 3px;
}

p {
  margin-left: 50px;
}
