/* ======================================================
 * Fonts
 * ====================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/* ======================================================
 * Styles
 * ====================================================== */
  
html, body {
  font-family: "DM Sans", "PT Sans";
  color: #EFF3FD;
  background-color: #05080F;
}
