/* ======================================================
 * Fonts
 * ====================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ======================================================
 * Styles
 * ====================================================== */
  
html, body {
  background-color: #182441;
  font-family: "DM Sans", "PT Sans", sans-serif;
  color: #EFF3FD;
}

/* Typography
 * ====================================================== */

h1, h2 {
  font-family: "Roboto Mono";
  font-size: 150%;
  color: #EFF3FD;
}

h3 {
  font-family: "Roboto Mono";
  font-size: 125%;
  color: #EFF3FD;
}
