/* ==================================================
 * FONTS 
 * ================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ==================================================
 * BASE 
 * ================================================== */

html, body {
  font-family: "PT Sans", sans-serif;
  color: #05080F;
  background-color: #EFF3FD;
  margin: 0;
}

.container {
  padding: 5px 10px 5px 10px;
  background-image: url(/images/gradient.jpg);
  border-radius: 10px;
  width: 65%;
  margin: 0 auto;
}

h1, h2 {
    font: 1.4rem "DM Sans", sans-serif;
}

/* ==================================================
 * HEADER 
 * ================================================== */

#banner-container {
  width: 100%;
  display: table;
  top: 0;
}

#banner {
  background-color: #182441;
  height: 100px;
  padding: 0 20px;
  text-align: left;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  font: bold 3rem "DM Sans", sans-serif;
  color: #ffffff;
  white-space: normal;
  word-break: break-all;
  vertical-align: middle;
}

/* ==================================================
 * OTHER 
 * ================================================== */

#wrapper {
  margin-top: 100px;
}

h4 {
  font-family: "Roboto Mono";
  text-decoration: underline;
  text-decoration-thickness: 10%;
  text-underline-offset: 50%;
  margin-top: 10px;
  margin-left: 25px;  
}

h4.center {
  text-align: center;
  margin: 10px 0 0 0; 
}

p {
  margin-left: 35px;
}

p.center {
  text-align: center;
  margin: 20px 10px 10px 10px;
}
