/* ==================================================
 * FONTS 
 * ================================================== */

@font-face {
    font-family: "Genshin";
    src: url("https://chm30.github.io/styles/fonts/genshin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ==================================================
 * BASE 
 * ================================================== */

*, html, body {
    font-family: "Genshin", sans-serif;
    color: #05080F;
    background-color: #2B2D42;
    margin: 0;
}


/* ==================================================
 * HEADER 
 * ================================================== */

/* ==================================================
 * OTHER 
 * ================================================== */
