/* ==================================================
 * FONTS 
 * ================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@font-face {
    font-family: "Genshin";
    src: url("../fonts/genshin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Genshin";
    src: url("../fonts/genshin.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ==================================================
 * BASE 
 * ================================================== */

html, body {
  font-family: "Genshin", "PT Sans", sans-serif;
  color: #05080F;
  background-color: #EFF3FD;
  margin: 0;
}

h1, h2 {
    font: 1.4rem "Genshin", "DM Sans", sans-serif;
}

* {
    transition: 0.5s;
}


/* ==================================================
 * HEADER 
 * ================================================== */

#banner-container {
  width: 100%;
  display: table;
  top: 0;
}

#banner {
  background-color: #182441;
  height: 100px;
  padding: 25px 100px;
  text-align: left;
  overflow: hidden;
  display: table-cell;
}

.logo {
  font: bold 3rem "Genshin", "DM Sans", sans-serif;
  color: #ffffff;
  white-space: normal;
  word-break: break-all;
  vertical-align: middle;
}


/* ==================================================
 * OTHER 
 * ================================================== */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* ==================================================
 * OTHER 
 * ================================================== */

#wrapper {
  margin-top: 100px;
}
