/* ======================================================
 * Fonts
 * ====================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ======================================================
 * Styles
 * ====================================================== */
  
html, body {
  
  /* Text */
  font-family: "DM Sans", "PT Sans", sans-serif;
  color: #EFF3FD;
  
  /* Background */
  background-color: #182441;
  
}

p {
  
  /* Text */
  margin-left: 35px;
  
}

.container {
  
  /* Text */
  color: #05080F;
  padding: 5px 10px;
  
  /* Background */
  background-color: rgba(239, 243, 253, 0.5);
  background-image: url(/images/gradient.jpg);
  
}

/* Typography
 * ====================================================== */

h1 {
  
  /* Text */
  font-family: "Roboto Mono";
  margin-left: 15px;
  
}

h2 {
  
  /* Text */
  font-family: "Roboto Mono";
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-left: 25px;
  
}
