/* ======================================================
 * Fonts
 * ====================================================== */

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ======================================================
 * Styles
 * ====================================================== */
  
html, body {
  background-color: #182441;
  font-family: "DM Sans", "PT Sans", sans-serif;
  color: #EFF3FD;
}

/* Typography
 * ====================================================== */

h1 {
  font-family: "Roboto Mono";
  color: #EFF3FD;
  margin-left: 15px;
}

h2 {
  font-family: "Roboto Mono";
  color: #EFF3FD;
  text-decoration: underline;
  margin-left: 25px;
}

p {
  margin-left: 50px;
}

.underline:after {
    position: absolute;
    height: 1px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 90%;
    color: #000;
    background-color: red;
    left: 0;
    bottom: -3px; /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}
