// FONTS

@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

// BASE STYLES

html, body {
  font-family: "DM Sans", "PT Sans", sans-serif;
  color: #05080F;
  background-color: #EFF3FD;
  margin: 0;
}

.container {
  padding: 5px 10px 5px 10px;
  background-image: url(/images/gradient.jpg);
  border-radius: 10px;
  width: 65%;
  margin: 0 auto;
}

// HEADER

#banner {
  background-color: #182441;
  width: 100%;
  top: 0;
}

.logo {
  margin: 0 0 0 50px;
}

// BODY

#wrapper {
  margin-top: 100px;
}

h4 {
  font-family: "Roboto Mono";
  text-decoration: underline;
  text-decoration-thickness: 10%;
  text-underline-offset: 50%;
  margin-top: 10px;
  margin-left: 25px;  
}

h4.center {
  text-align: center;
  margin: 10px 0 0 0; 
}

p {
  margin-left: 35px;
}

p.center {
  text-align: center;
  margin: 20px 10px 10px 10px;
}
