/* ==================================================
 * FONTS 
 * ================================================== */

@font-face {
    font-family: "Genshin";
    src: url("https://chm30.github.io/styles/fonts/genshin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("https://chm30.github.io/styles/fonts/Dosis-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("https://chm30.github.io/styles/fonts/Dosis-Light.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* ==================================================
 * BASE 
 * ================================================== */

*, html, body {
    font-family: "Dosis", sans-serif;
    color: #F8F8FC;
    background-color: #2B2D42;
    margin: 0;
}

/* ==================================================
 * HEADER 
 * ================================================== */

/* ==================================================
 * OTHER 
 * ================================================== */

#NavBar {
    width: 200px;
    height: 100%;
    background-color: #1D1F2D;
    position: fixed;
    overflow: auto;
}

#NavBar-title {
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: bold;
}

/* ==================================================
 * OTHER 
 * ================================================== */
