@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  background-color: #5177D6;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding: 0 25px;
}

body::after {
  content: "";
  background: url('//storage.proboards.com/7200422/images/Vaf0cAHIEgfdOrIAKGAY.jpeg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
